__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
env/
venv/
.venv/

.poetry/
poetry.lock

docker-data/
docker-volume/
*.pid

icook_crawler/data/*.csv
icook_crawler/data/progress.json
icook_crawler/logs/
mongo-consumer/logs/

mongodb/data/
mongodb/cloudflared/

kafka/data/
kafka/logs/
kafka/*-logs/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

*.zip
*.tar
*.tar.gz
*.tgz
backup/
*.bak
